*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
background:#0f172a;
color:white;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
background:#020617;
}

.logo{
color:#38bdf8;
}

.nav-links{
list-style:none;
display:flex;
gap:30px;
}

.nav-links a{
color:white;
text-decoration:none;
opacity:.7;
}

.nav-links a:hover{
opacity:1;
}

/* HERO */

.hero{
text-align:center;
padding:120px 20px;
background:linear-gradient(135deg,#2563eb,#9333ea);
}

.hero h1{
font-size:48px;
margin-bottom:10px;
}

.hero p{
opacity:.9;
}

.btn{
margin-top:30px;
padding:12px 30px;
border:none;
background:white;
color:black;
border-radius:8px;
cursor:pointer;
margin-right:10px;
}

.btn-outline{
padding:12px 30px;
border:2px solid white;
background:transparent;
color:white;
border-radius:8px;
cursor:pointer;
}

/* SKILLS */

.skills{
padding:80px 10%;
text-align:center;
}

.skills-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
gap:30px;
margin-top:40px;
}

.skill-card{
background:#1e293b;
padding:25px;
border-radius:10px;
font-size:30px;
transition:.3s;
}

.skill-card:hover{
transform:translateY(-5px);
}

/* PROJECTS */

.projects{
padding:80px 10%;
text-align:center;
}

.project-container{
display:flex;
gap:30px;
justify-content:center;
flex-wrap:wrap;
margin-top:40px;
}

.project-card{
background:#1e293b;
padding:30px;
border-radius:12px;
width:260px;
}

.project-card a{
color:#38bdf8;
text-decoration:none;
display:block;
margin-top:10px;
}

/* CONTACT */

.contact{
padding:80px 10%;
text-align:center;
}

.contact-container{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
margin-top:40px;
}

.contact-card{
background:#1e293b;
padding:25px;
border-radius:12px;
width:220px;
font-size:20px;
}

/* FOOTER */

footer{
text-align:center;
padding:25px;
background:#020617;
margin-top:60px;
opacity:.7;
}